:root {
    --main-color: #271A1A;
    --second-color: #563333;
  }


  html {
  
    -webkit-appearance : none;
    overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  background: rgb(15, 3, 3);
  margin: 0;
  padding: 0;
}


.bg{
  background-color: rgb(15, 3, 3);
 
}

header {
    /* height:100vh;
    min-height:400px;
    background-size:cover;
    background-image:url('/image/Rectangle9.png');
    background-position: center; */
}

.bg-image{

  height: 100vh;
  width: 100vw;
  object-fit: cover;
  filter: brightness(0,2);
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-gd{
    background: #271A1A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5a3e3e, #271A1A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5a3e3e, #271A1A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-color{
    background-color: #271A1A;  
}
.bg-second{
  background-color: rgb(27, 27, 27); 
}
.text{
    color: yellow;
}

.nav-link{
    color: yellow;
}
.nav-link .active{
    color: white;
}


.hidden-spacer {
    height: 56px;
    width: auto;
    
}
section{
  width: 100%;
}

.content {
    position: absolute;
    top: 30%;
    justify-content: center;
    /* top: 50%;
    left:50%;
    transform: translate(-50%,-50%); */
    }

.btn-color{
    background-color: #563333;
    color: white;
    border-radius: 15px;
}

.btn-color:hover{
    background-color: #563333;
    color: white;
    border-radius: 15px;
}



  /* .card{
    max-height: 22rem;
    margin: auto;
    justify-content: center;
} */

.card1 {
    background-color: rgb(27, 27, 27);
    box-shadow: 0px 5px 90px 0px rgba(41, 18, 36, 0.05);
    color: yellow;
    margin: auto;
    justify-content: center;
}
.card2 {
    background-color: yellow;
    box-shadow: 0px 5px 90px 0px rgba(41, 18, 36, 0.05);
    margin: auto;
    justify-content: center;
    /* color: white; */
}

.card {
    border:none;
    padding: 10px 20px;
  }

  .card::after {
    position: absolute;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .card:hover {


    transform: scale(1.02, 1.02);
    -webkit-transform: scale(1.02, 1.02);
    backface-visibility: hidden; 
    will-change: transform;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.75) !important;
  }

  .card:hover::after {
    opacity: 1;
  }

  .card:hover .btn-outline-primary{
    color:white;
    background:#007bff;
  }


  .video-container {
    position: relative;
    padding-bottom: 56.25%;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  
   .icon img {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    display: flex;
  
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
  
  

  /* resposive */

  @media only screen and (min-width: 600px) {
    .card1{
       
        height: 25rem;
        /* margin: 0 auto; */
        justify-content: center;
      
      }
    .card2{
       
        height: 25rem;
        /* margin: 0 auto; */
        justify-content: center;
      
      }

      .content {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        }


  }